@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,100;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.body{
    background-color: rgb(230, 238, 235);
}
.nav{
    background-color: rgb(64, 26, 26);
    color: white;
    display: flex;
    align-items: center;
    height: 80px;
    font-size: 17px;
    
    position: sticky;
    top: 0;
}
.img{
    height: 35px;
    width: 85px;
    margin: 0 120px;
}
.nav-link{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    list-style: none;
    -webkit-box-align: center;
 
}
.nav-item{
    color: white;
    text-decoration: none;
}
.link-btn{
    margin-left: 70px;
    background-color: red;
    color: white;
    border-radius: 20px;
    padding: 7px 10px;
    border: none;
}
.container{
    text-align: center;
    padding: 100px 20px 30px;
}
.link-item{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
    
}
.hero-item{
    text-decoration: none;
    color: blue;
}
svg{
    margin-top: 3px;
}
.title{
    padding: 40px 90px;
    font-size: 13px;
}

.service-title{
    text-align: center;
}
.service-title hr{
    width: 85%;
    margin: auto;
    margin-bottom: 12px;
    border-color: white;
   
}
.service-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card1{
    height: 420px;
    width: 300px;
    background-color: rgb(211, 222, 218);
}


.card1-img{
    width: 300px;
    height:200px;
}
.card-t{
    font-size: 15px;
    padding: 5px 15px;
}
.read{
    cursor: pointer;
}
.card2{
    height: 420px;
    width: 300px;
    background-color: rgb(211, 222, 218);
}
.card2-img{
    width: 300px;
    height:200px;
}
.card-desc{
    font-size: 15px;
    padding: 5px 15px;
}
.card3{
    height: 420px;
    width: 300px;
    background-color: rgb(211, 222, 218);
}
.card3-img{
    width: 300px;
    height:200px;
}

.start-section{
    display: flex;
    color: white;
    margin: 20px 75px 0;
    height: 8rem;
    background-color: rgb(205, 59, 59);
    border-radius: 10px;
}
.sign-sec-t{
    
    margin: 20px 50px;
    
}
.signup-btn{
    margin: 50px 50px;
    padding: 6px 25px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
}

.footer-section{
    height: 15rem;
    background-color: rgb(64, 26, 26);
    display: flex;
    color: white;
}
.footer-img{
    height: 30px;
    width: 60px;
    margin: 30px 80px; 
}
.img-address{
    width: 20rem;
    height: 70px;
}
address {
   color: rgb(185, 174, 161);
   padding:0 40px;
   font-size: 13px;
}
.home{
    font-size: 14px;
    list-style: none;
    width: 15rem;
    height: 70px;
    margin: 30px 40px;
}
.title-home{
    margin-bottom: 30px;
    
}
.footer-list{
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.help{
    font-size: 14px;
    list-style: none;
    width: 15rem;
    height: 70px;
    margin: 30px 40px;
}
.title-help{
    margin-bottom: 30px;
}
.help-list{
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.follow{
    font-size: 14px;
    width: 15rem;
    height: 70px;
    margin: 30px 40px;
}
.title-follow{
    margin-bottom: 30px;
}
.icon-wrapper{
    font-size: 23px;
    color: white;
}
.copyright{
    height: 30px;
    background-color: rgb(24, 23, 23);
    color: white;
}
.copy-wrapper{
    margin-left: 50rem;
    font-size: 12px;
}